strong{
    color: blue;
    border-bottom: 1px solid;
    cursor: pointer;
}
.modal-title{
    font-size: 1.4rem;
    margin-top: 1rem;
    
    
}
input{
    height: 52px;
    width: 80%;
    margin-left: 50px;
    margin-top: 0;
}
button{
     height: 52px;
      width: 80%;
    margin-left: 50px;
}

