
body{
     font-family: "Roboto", sans-serif;
}

h1{
    font-size: 25px;
    
}
 p{
    font-size: 14px;
     
     
 }
 input{
    height: 54px;
  
 }
 div a{
   
      cursor: pointer;
 }
 button{
    height: 52px;
    
 }

